<!DOCTYPE html>
<html>
  <head>
    <title>Classificados</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in? %>
      <%= link_to "Sair", "users/sign_out"%>
    <%else%>
      <%= link_to "Cadastro", "users/new"%>
      <%= link_to "Login", "users/login"%>  
    <%end%>
    <%= yield %>
  </body>
</html>
